<title>Dashboard</title>
<link rel="stylesheet" href="/css/dashboard.css">

{{#if flash}}
    <div style="text-align: center" class="alert alert-dismissible alert-{{flash.type}}">
        <button type="button" class="close"
        data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{flash.intro}}</strong> {{{flash.message}}}
    </div>
{{/if}}


<h1>Dashboard</h1>
<a class="btn btn-success" href="posts/add">Add post</a>
<div class="container">
    <div class="card" >
        {{#each posts}}
            <div class="list-group-item">
                <h1>{{title}}</h1>
                <div class="buttons">
                    <form method="POST" action="/posts/{{id}}/delete">
                        <a class="btn btn-info" href="/posts/{{id}}">View</a>
                        <a class="btn btn-primary" href="/posts/{{id}}/edit">Edit</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
               
                
                
            </div>   
        {{/each}}
    </div>
</div>