<title>{{title}}</title>
<link rel="stylesheet" href="/css/main.css">

{{#if title}}
<div class="post">
    <h1 class="title">{{title}}</h1>
    <p class="author">{{author}}</p>
    <p class="date">{{date}}</p>
    <p class="content">{{content}}</p>
</div>

{{else}}
<h1>No post found</h1>
{{/if}}
