<title>{{title}}</title>
<link rel="stylesheet" href="/css/main.css">


{{#if equal}}

<div class="buttons">
    <form method="POST" action="/posts/{{post._id}}/delete">
        <a class="btn btn-primary" href="/posts/{{post._id}}/edit">Edit</a>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
{{/if}}

{{#if post}}
<div class="post">
    <h1 class="title">{{post.title}}</h1>
    <p class="author">{{post.author_name}}</p>
    <p class="date">{{post.date}}</p>
    <p class="content">{{post.content}}</p>
</div>

{{else}}
<h1>No post found</h1>
{{/if}}
